 <!-- Modal editar experiencia-->
 <div>
    <div class="modal-dialog">
        <div class="modal-content contet-modal-experiencia">
            <div class="modal-header">
                <h1 class="modal-title-experiencia" id="exampleModalLabel">Editar Experiencia Laboral</h1>
                <button type="button" class="btn-close btn-close-white" routerLink="/"
                    aria-label="Close"></button>
            </div>
            <form [formGroup]="forms" (ngSubmit)="onUpdate($event)">
                <div class="modal-body">
                    <!-- Campo: Id(oculto) -->
                    <input type="text" id="experiencia" class="form-control-id" formControlName="id" [ngModel]="expe.id"> 
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="mensaje">
                        <div *ngIf="Compania?.errors && Compania?.touched">
                            <p *ngIf="Compania?.hasError('required')" class="error">
                                La empresa es requerida.
                            </p>

                        </div>
                    </div>
                    <p>
                        <label for="input">Nombre del Lugar</label>
                        <input type="text" id="input-nombre-experiencia" placeholder="Nombre" formControlName="company"  [ngModel]="expe.company">
                    </p>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="mensaje">
                        <div *ngIf="Posicion?.errors && Posicion?.touched">
                            <p *ngIf="Posicion?.hasError('required')" class="error">
                                El puesto es requerido.
                            </p>
                        </div>
                    </div>
                    <p>
                        <label for="input">Puesto</label>
                        <input type="text" id="input-nombre-puesto-experiencia" placeholder="Puesto"
                            formControlName="position" [ngModel]="expe.position">
                    </p>
                    <div class="container text-center">
                        <div class="row">

                            <!-- Gracias al getter que configuramos en el controlador -->
                            <div class="mensaje-inicio col-8">
                                <div *ngIf="FechaInicio?.errors && FechaInicio?.touched">
                                    <p *ngIf="FechaInicio?.hasError('required')" class="error">
                                        El Inicio es requerido.
                                    </p>
                                    <p *ngIf="FechaInicio?.errors?.['maxlength']" class="error">
                                        Debe tenet 10 caracteres.
                                    </p>
                                </div>
                            </div>
                            <!-- Gracias al getter que configuramos en el controlador -->
                            <div class="mensaje-fin col-4">
                                <div *ngIf="FchaFin?.errors && FchaFin?.touched">
                                    <p *ngIf="FchaFin?.hasError('required')" class="error fechfin">
                                        El Fin es requerido.
                                    </p>
                                    <p *ngIf="FchaFin?.errors?.['maxlength']" class="error">
                                        Debe tenet 10 caracteres.
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="fechas">
                        <p>
                            <label for="date">Fecha inicio</label>
                            <input type="date" id="date-fecha-experiencia-inicio" formControlName="startDate" [ngModel]="expe.startDate">
                        </p>

                        <p class="fecha-fin">
                            <label for="date">Fecha fin</label>
                            <input type="date" id="date-fecha-experiencia-fin" formControlName="endDate" [ngModel]="expe.endDate">
                        </p>

                    </div>

                    <p>
                        <label for="file">Subir logo</label>
                        <input type="file" id="file-logo-experiencia" formControlName="img" [ngModel]="expe.img">
                    </p>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="mensaje">
                        <div *ngIf="Descripcion?.errors && Descripcion?.touched">
                            <p *ngIf="Descripcion?.hasError('required')" class="error">
                                La descripcion es requerida.
                            </p>
                        </div>
                    </div>
                    <p>
                        <label for="textarea">Descripción</label>
                        <textarea id="textarea-descripcion-experiencia" rows="3" style="height: 110px;"
                            formControlName="description" [ngModel]="expe.company"></textarea>
                    </p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" routerLink="/">Canselar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- fin modal para  editar experiencia  -->