<!-- inicio seccion experiencias -->
<section id="experiencias" class="experiencias">
    <div class="contenido-experiencias">
        <div class="contenedor-nomb-btnnuevo">
            <h1> Experiencia Laborales </h1>
            <button type="button" class="btn btn-primary btn-nueva-experiencia" data-bs-toggle="modal"
                data-bs-target="#modalNuevaExperiencia">
                <i class="fa-solid fa-plus"></i> Nueva Experiencia
            </button>

        </div>
        <div class="box-container-experiencias" *ngFor="let experiencia of experiencias">
          
                    <div class="box-experiencia">
                        <img [src]="experiencia.img" alt="">
                        <h2>{{experiencia.company}}</h2>
                        <h2>{{experiencia.position}}</h2>
                        <span> {{experiencia.startDate | date: "yyyy"}} - {{experiencia.endDate | date: "yyyy"}}</span>
                        <p>{{experiencia.description}}</p>
        
                        <div class="contenedor-btn-edit-borrar-experiencia">
                            <button type="button" class="btn btn-primary btn-editar-experiencia" data-bs-toggle="modal"
                                data-bs-target="#modalExperiencia"  routerLink="editExperiencia/{{experiencia.id}}">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-borrar-experiencia" data-bs-toggle="modal">
                                <i class="fa-solid fa-trash" (click)="borrar(experiencia.id)"></i>
                            </button>
                        </div>
                    </div>
           
           
        </div>
    </div>
</section>
<!-- fin seccion experiencias -->

<!-- agregar el selector del los modales aqui -->
<app-nueva-experiencia></app-nueva-experiencia>
<app-editar-experiencia></app-editar-experiencia>