 <!-- inicio seccio proyectos -->
 <section id="proyectos" class="proyectos">
    <div class="contenido-proyectos">
        <div class="contenedor-nomb-btnnuevoproyecto">
            <h2> Proyectos</h2>
            <button type="button" class="btn btn-primary btn-nueva-experiencia" data-bs-toggle="modal"
                data-bs-target="#modalNuevoProyecto">
                <i class="fa-solid fa-plus"></i> Nuevo Proyecto
            </button>

        </div>
        <div class="box-container-card">
            <div class="card" *ngFor="let proyecto of proyectos">
                <img [src]="proyecto.img" class="card-img-top" alt="...">
                <div class="contenido-card">
                    <h3>{{proyecto.nameProyect}}</h3>
                    <h4>{{proyecto.endDate | date: "yyyy" }}</h4>
                    <p>{{proyecto.description}}</p>

                    <a href="#" class="btn">Ver proyecto</a>
                </div>
                <div class="contenedor-btn-edit-borrar-proyecto">
                    <button type="button" class="btn btn-primary btn-editar-proyecto" data-bs-toggle="modal"
                        data-bs-target="#modalProyecto">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-proyecto" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash" (click)="borrar(proyecto.id)"></i>
                    </button>
                </div>
            </div>
       

        </div>





    </div>
</section>
<!-- fin seccion habilidades -->

<!-- agregar el selector del los modales aqui -->
<app-nuevo-proyecto></app-nuevo-proyecto>
<app-editar-proyecto></app-editar-proyecto>