<!-- inicio seccion educacion -->
<section id="educacion" class="educacion">
    <div class="contenido-educacion">
        <div class="contenedor-nomb-btnnuevaedu">
            <h1> Educación </h1>
            <button type="button" class="btn btn-primary btn-nueva-educacion" data-bs-toggle="modal"
                data-bs-target="#modalNuevaEducacion">
                <i class="fa-solid fa-plus"></i> Nueva Educacion
            </button>

        </div>
        <div class="box-container-educacion">

            <div class="box">
                <i class="fas fa-graduation-cap"></i>
                <img src="/assets/img/ENET 2.png" alt="">
                <span>2016</span>
                <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                <h2>Titulo :Tecnico en Electronica</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                    autem
                    provident laborum quae, distinctio eaque temporibus!</p>
                <div class="contenedor-btn-edit-borrar-educacion">
                    <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                        data-bs-target="#modalEducacion">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-graduation-cap"></i>
                <img src="/assets/img/ENET 2.png" alt="">
                <span>2017</span>
                <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                <h2>Titulo :Tecnico en Electronica</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                    autem
                    provident laborum quae, distinctio eaque temporibus!</p>
                <div class="contenedor-btn-edit-borrar-educacion">
                    <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                        data-bs-target="#modalEducacion">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-graduation-cap"></i>
                <img src="/assets/img/ENET 2.png" alt="">
                <span>2018</span>
                <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                <h2>Titulo :Tecnico en Electronica</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                    autem
                    provident laborum quae, distinctio eaque temporibus!</p>
                <div class="contenedor-btn-edit-borrar-educacion">
                    <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                        data-bs-target="#modalEducacion">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-graduation-cap"></i>
                <img src="/assets/img/ENET 2.png" alt="">
                <span>2019</span>
                <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                <h2>Titulo :Tecnico en Electronica</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                    autem
                    provident laborum quae, distinctio eaque temporibus!</p>
                <div class="contenedor-btn-edit-borrar-educacion">
                    <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                        data-bs-target="#modalEducacion">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-graduation-cap"></i>
                <img src="/assets/img/ENET 2.png" alt="">
                <span>2020</span>
                <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                <h2>Titulo :Tecnico en Electronica</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                    autem
                    provident laborum quae, distinctio eaque temporibus!</p>
                <div class="contenedor-btn-edit-borrar-educacion">
                    <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                        data-bs-target="#modalEducacion">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>
            <div class="box">
                <i class="fas fa-graduation-cap"></i>
                <img src="/assets/img/ENET 2.png" alt="">
                <span>2021</span>
                <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                <h2>Titulo :Tecnico en Electronica</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                    autem
                    provident laborum quae, distinctio eaque temporibus!</p>
                <div class="contenedor-btn-edit-borrar-educacion">
                    <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                        data-bs-target="#modalEducacion">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </div>


        </div>


    </div>
</section>
<!-- fin seccion educacion -->