<!-- inicio seccion educacion -->
<section id="educacion" class="educacion">
    <div class="contenido-educacion">
        <div class="contenedor-nomb-btnnuevaedu">
            <h1> Educación </h1>
            <button type="button" class="btn btn-primary btn-nueva-educacion" data-bs-toggle="modal"
                data-bs-target="#modalNuevaEducacion">
                <i class="fa-solid fa-plus"></i> Nueva Educacion
            </button>

        </div>
        <div class="box-container-educacion" >
            <div class="box" *ngFor="let educacion of educaciones">
                <i class="fas fa-graduation-cap"></i>
                <img [src]="educacion.img" alt="">
                <span>{{educacion.startDate| date: "yyyy"}} - {{educacion.endDate| date: "yyyy"}}</span>
                <h3>{{educacion.school}}</h3>
                <h2>Titulo :{{educacion.title}}</h2>
                <p>{{educacion.description}}</p>
                <div class="contenedor-btn-edit-borrar-educacion">
                    <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                        data-bs-target="#modalEducacion" routerLink="editEducacion/{{educacion.id}}">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash" (click)="borrar(educacion.id)"></i>
                    </button>
                </div>
            </div>


        </div>


    </div>
</section>
<!-- fin seccion educacion -->

<!-- agregar el selector del los modales aqui -->
<app-nueva-educacion></app-nueva-educacion>
<app-editar-educacion></app-editar-educacion>