/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
:root{
    --yellow:#b99928c8;
}
body{
    background-color: #da2e2e;
    overflow-x: hidden;
    padding-left: 35rem;
    background-size: cover;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background:var(--yellow);
    color:rgb(14, 13, 13);
}
html{
    font-size: 20%;
    overflow-x: hidden;
    
}
html::-webkit-scrollbar{
    width:1.4rem;
} 
html::-webkit-scrollbar-track{
    background:#222;
}
html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

