  <!-- Modal nueva educacion-->
  <div class="modal fade" id="modalNuevaEducacion" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content contet-modal-educacion">
          <div class="modal-header">
              <h1 class="modal-title-educacion" id="exampleModalLabel">Información de Educacion</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                  aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p>
                  <label for="input">Nombre</label>
                  <input type="text" id="input-nombre-educacion" placeholder="Institucion">
              </p>
              <p>
                  <label for="input">Título</label>
                  <input type="text" id="input-nombre-titulo" placeholder="Titulo ">
              </p>
              <p>
                  <label for="date">Fecha de Realización</label>
                  <input type="date" id="date-fecha-educacion">
              </p>

              <p>
                  <label for="file">Subir logo de Institución</label>
                  <input type="file" id="file-logo-educacion">
              </p>
              <p>
                  <label for="textarea">Descripción</label>
                  <textarea id="textarea-descripcion-educacion" rows="3" style="height: 110px;"></textarea>
              </p>


          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
              <button type="button" class="btn btn-primary">Guardar</button>
          </div>
      </div>
  </div>
</div>
<!-- fin modal para  nueva educacion  -->