 <!-- Modal nueva red social -->
 <div class="modal fade" id="modalNuevaRed" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-efecto">
        <div class="modal-content contet-modal-nuevared">
            <div class="modal-header">
                <h1 class="modal-title-nuevared" id="exampleModalLabel">Nueva Red Social</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    <label for="url">URL Icono </label>
                    <input type="url" id="imput-url-icono" placeholder="fontawesome">
                </p>
                <p>
                    <label for="url">URL Red Social</label>
                    <input type="url" id="imput-url-redsocial" placeholder="https://">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin Modal nueva red social -->