<!-- Modal portada-->
<div class="modal fade" id="modalPortada" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content contet-modal-portada">
            <div class="modal-header">
                <h1 class="modal-title-portada" id="exampleModalLabel">Editar Portada</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form [formGroup]="forms" (ngSubmit)="onEnviar($event)">
                <div class="modal-body">
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="mensaje">
                        <div *ngIf="ImgPerfilPortada?.errors && ImgPerfilPortada?.touched">
                            <p *ngIf="ImgPerfilPortada?.hasError('required')" class="error">
                                La Foto es obligatoria
                            </p>

                        </div>
                    </div>
                    <p>
                        <label for="file">Subir Imagen de Perfil </label>
                        <input type="file" id="file-perfil-portada-banner" formControlName="imgPerfilPortada">
                    </p>

                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="mensaje">
                        <div *ngIf="FondoPortada?.errors && FondoPortada?.touched">
                            <p *ngIf="FondoPortada?.hasError('required')" class="error">
                                La Foto es obligatoria
                            </p>
                        </div>
                    </div>
                    <p>
                        <label for="file">Subir Imagen de Portada</label>
                        <input type="file" id="file-portada" formControlName="backPortada">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
                    <button type="submit" [disabled]="forms.invalid" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- fin modal portada  -->