 <!-- Modal portada-->
 <div class="modal fade" id="modalPortada" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content contet-modal-portada">
            <div class="modal-header">
                <h1 class="modal-title-portada" id="exampleModalLabel">Información de Portada</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    <label for="file">Subir Imagen de Perfil </label>
                    <input type="file" id="file-perfil-portada-banner">
                </p>
                <p>
                    <label for="file">Subir Imagen de Portada</label>
                    <input type="file" id="file-portada">
                </p>
                <p>
                    <label for="input">Ingrese Nombre</label>
                    <input type="text" id="input-nombre" placeholder="Nombre y Apellido">
                </p>
                <p>
                    <label for="input">Ingrese Titulo</label>
                    <input type="text" id="input-titulo" placeholder="Titulo">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal portada  -->