<!-- Modal sobre mi-->
<div>
    <div class="modal-dialog">
        <div class="modal-content contet-modal-sobremi">
            <div class="modal-header">
                <h1 class="modal-title-sobremi" id="exampleModalLabel">Información Sobre Mi</h1>
                <button type="button" class="btn-close btn-close-white" routerLink="/"
                    aria-label="Close"></button>
            </div>
            <form [formGroup]="forms" (ngSubmit)="onUpdate($event)">
                <div class="modal-body">
                     <!-- Campo: Id(oculto) -->
                     <input type="text" id="proyecto" class="form-control-id" formControlName="id" [ngModel]="perso.id"> 
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="mensaje">
                        <div *ngIf="Name?.errors && Name?.touched">
                            <p *ngIf="Name?.hasError('required')" class="error">
                                Nombre y Apellido es requerido.
                            </p>

                        </div>
                    </div>
                    <p>
                        <label for="input">Ingrese Nombre</label>
                        <input type="text" id="input-nombre" placeholder="Nombre y Apellido" formControlName="name" [ngModel]="perso.name">
                    </p>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="mensaje">
                        <div *ngIf="ImgSobremi?.errors && ImgSobremi?.touched">
                            <p *ngIf="ImgSobremi?.hasError('required')" class="error">
                                La Foto es requerida.
                            </p>

                        </div>
                    </div>
                    <p>
                        <label for="file">Subir Imagen de Perfil </label>
                        <input type="file" id="file-perfil" formControlName="imgPerfilSibreMi" [ngModel]="perso.imgPerfilSibreMi">
                    </p>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="mensaje">
                        <div *ngIf="Sobremi?.errors && Sobremi?.touched">
                            <p *ngIf="Sobremi?.hasError('required')" class="error">
                               Descripcion es requerida.
                            </p>

                        </div>
                    </div>
                    <p>
                        <label for="textarea">Descripción</label>
                        <textarea id="textarea-descripcion" rows="3" style="height: 110px;" formControlName="about" [ngModel]="perso.about"></textarea>
                    </p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" routerLink="/">Canselar</button>
                    <button type="submit" [disabled]="forms.invalid" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- fin Modal sobre mi-->