    <!-- Modal sobre mi-->
    <div class="modal fade" id="modalSobreMi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content contet-modal-sobremi">
                <div class="modal-header">
                    <h1 class="modal-title-sobremi" id="exampleModalLabel">Información Sobre Mi</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="input">Ingrese Nombre</label>
                        <input type="text" id="input-nombre" placeholder="Nombre y Apellido">
                    </p>
                    <p>
                        <label for="file">Subir Imagen de Perfil </label>
                        <input type="file" id="file-perfil">
                    </p>
                    <p>
                        <label for="textarea">Descripción</label>
                        <textarea id="textarea-descripcion" rows="3" style="height: 110px;"></textarea>
                    </p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- fin Modal sobre mi-->