<!-- inicio seccion sobre mi -->
<section id="sobre_mi" class="sobre_mi">
    <div class="contenido-sobremi">
        <div class="contenedor-img">
            <img [src]="miPorfolio.imgPerfilSibreMi" alt="">
        </div>
        <div class="contenedor-btn-edit-borrar-sobremi">
            <button type="button" class="btn btn-primary btn-editar-sobremi" data-bs-toggle="modal"
                data-bs-target="#modalSobreMi">
                <i class="fa-solid fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-primary btn-borrar-sobremi" data-bs-toggle="modal">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>

        <div class="descripcion">
            <h1>{{miPorfolio.name}}</h1>
            <p>{{miPorfolio.about}}</p>
        </div>
    </div>
</section>
<!-- fin seccion sobre mi -->

<!-- agregar el selector del los modales aqui -->
<app-editar-sobremi></app-editar-sobremi>