<!-- inicio seccion sobre mi -->
<section id="sobre_mi" class="sobre_mi">
    <div class="contenido-sobremi">
        <div class="contenedor-img">
            <img src="/assets/img/perfil_portada.jpg" alt="">
        </div>
        <div class="contenedor-btn-edit-borrar-sobremi">
            <button type="button" class="btn btn-primary btn-editar-sobremi" data-bs-toggle="modal"
                data-bs-target="#modalSobreMi">
                <i class="fa-solid fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-primary btn-borrar-sobremi" data-bs-toggle="modal">
                <i class="fa-solid fa-trash"></i>
            </button>
        </div>

        <div class="descripcion">
            <h1>Hernan Flores</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque sunt omnis molestiae eaque harum id
                ab accusamus, eligendi porro reiciendis nihil tenetur totam cupiditate quas, dolore est rerum itaque
                maiores.</p><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa error ad doloribus iure corrupti,
                nostrum ipsum rem voluptas alias consectetur quis nihil molestiae possimus quas perspiciatis
                quisquam non earum quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                delectus at quisquam ducimus facere exercitationem, accusamus deleniti voluptate cumque, aperiam
                officiis. Molestias consectetur modi temporibus minima saepe. Similique, provident minus!</p>
        </div>
    </div>
</section>
<!-- fin seccion sobre mi -->

<!-- agregar el selector del los modales aqui -->
<app-editar-sobremi></app-editar-sobremi>