  <!-- Modal informacion head-->
  <div class="modal fade" id="modalHead" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content contet-modal-head">
            <div class="modal-header">
                <h1 class="modal-title-head" id="exampleModalLabel">Información Perfil</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    <label for="file">Subir Foto de Usuario</label>
                    <input type="file" id="file-foto-usuario-head">
                </p>
                <p>
                    <label for="input">Nombre y Apellido</label>
                    <input type="text" id="input-nombre-usuario-head" placeholder="Nombre y Apellido">
                </p>
                <p>
                    <label for="input">Titulo</label>
                    <input type="text" id="input-head-titulo" placeholder="Titulo">
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal indormacion head  -->