<!-- Modal skill-->
<div class="modal fade" id="modalskill" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content contet-modal-skill">
            <div class="modal-header">
                <h1 class="modal-title-skill" id="exampleModalLabel">Editar Skill</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form [formGroup]="forms" (ngSubmit)="onEnviar($event)">
                <div class="modal-body">
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="mensaje">
                        <div *ngIf="Name?.errors && Name?.touched">
                            <p *ngIf="Name?.hasError('required')" class="error">
                                La habilidad es requerida.
                            </p>
                        </div>
                    </div>
                    <p>
                        <label for="input">Nombre Skill</label>
                        <input type="text" id="input-nombre-skill" placeholder="Skill" formControlName="name">
                    </p>
                    <!-- Gracias al getter que configuramos en el controlador -->
                    <div class="mensaje">
                        <div *ngIf="Progreso?.errors && Progreso?.touched">
                            <p *ngIf="Progreso?.hasError('required')" class="error">
                               El progreso es requerida.
                            </p>
                           
                        </div>
                    </div>
                    <p>
                        <label for="input">Progreso %</label>
                        <input type="text" id="input-progreso-skill" placeholder=" 0 - 100" formControlName="progress" maxLength="3">
                    </p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
                    <button type="submit" [disabled] ="forms.invalid" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- fin modal para skill  -->