    <!-- Modal skill-->
    <div class="modal fade" id="modalskill" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content contet-modal-skill">
                <div class="modal-header">
                    <h1 class="modal-title-skill" id="exampleModalLabel">Editar Skill</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        <label for="input">Nombre Skill</label>
                        <input type="text" id="input-nombre-skill" placeholder="Skill">
                    </p>
                    <p>
                        <label for="input">progreso %</label>
                        <input type="text" id="input-progreso-skill" placeholder="% de Realizacion">
                    </p>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
                    <button type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- fin modal para skill  -->