
.btn{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.479);
    box-shadow: 5px 2px 1px 2px rgba(0, 0, 255, .2);
    width: 30rem;
    font-size:10px;
    margin-top: 3rem;
}
.btn:hover{
    background-color: #a47ed598;
 }

.contet-modal-experiencia{
    margin-top: 50rem;
    background-color: rgba(27, 21, 32, 0.794);
    background: rgba(11, 11, 11, 0.6);  /* transparente blureado */
    backdrop-filter: blur(8px);
    box-shadow: 10px 0 10px rgba(9, 9, 9, 50%);
    width: 160rem;
    font-size: 15px;
}
.modal-title-experiencia{
    color: #fff;
    margin-left: 50rem;
    font-size: 20px;
}
#input-nombre-experiencia{
    background-color: rgba(207, 207, 222, 0.947);
    margin-left: 1rem;
    margin-top: 3rem;
    width: 102rem;
    border-radius: 8px;
}
#input-nombre-puesto-experiencia{
    background-color: rgba(207, 207, 222, 0.947);
    margin-left: 25rem;
    margin-top: 3rem;
    width: 102rem;
    border-radius: 8px;
}
#date-fecha-experiencia-inicio{
    background-color: rgba(207, 207, 222, 0.947);
    margin-left: 14rem;
    margin-top: 3rem;
    width: 33rem;
    border-radius: 8px;
}
#date-fecha-experiencia-fin{
    background-color: rgba(207, 207, 222, 0.947);
    margin-left: 14rem;
    margin-top: 3rem;
    width: 33rem;
    border-radius: 8px;
}
.fechas{
    display: flex;
}
.fecha-fin{
    margin-left: 5rem;
}
#file-logo-experiencia{
    background-color: rgba(130, 130, 138, 0.642);
    margin-left: 16rem;
    margin-top: 3rem;
    
}

#textarea-descripcion-experiencia{
    background-color: rgba(207, 207, 222, 0.947);
    margin-left: 15rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    width: 102rem;
}
