 <!-- Modal nueva experiencia-->
 <div class="modal fade" id="modalNuevaExperiencia" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog">
     <div class="modal-content contet-modal-experiencia">
         <div class="modal-header">
             <h1 class="modal-title-experiencia" id="exampleModalLabel">Nueva Experiencia Laboral</h1>
             <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                 aria-label="Close"></button>
         </div>
         <div class="modal-body">
             <p>
                 <label for="input">Nombre del Lugar</label>
                 <input type="text" id="input-nombre-experiencia" placeholder="Nombre">
             </p>
             <p>
                 <label for="input">Puesto</label>
                 <input type="text" id="input-nombre-puesto-experiencia" placeholder="Cargo ">
             </p>
             <div class="fechas">
                 <p>
                     <label for="date">Fecha inicio</label>
                     <input type="date" id="date-fecha-experiencia-inicio">
                 </p>
                 <p class="fecha-fin">
                    <label for="date">Fecha fin</label>
                    <input type="date" id="date-fecha-experiencia-fin">
                </p>

             </div>

             <p>
                 <label for="file">Subir logo</label>
                 <input type="file" id="file-logo-experiencia">
             </p>
             <p>
                 <label for="textarea">Descripción</label>
                 <textarea id="textarea-descripcion-experiencia" rows="3" style="height: 110px;"></textarea>
             </p>


         </div>
         <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
             <button type="button" class="btn btn-primary">Guardar</button>
         </div>
     </div>
 </div>
</div>
<!-- fin modal para  nueva experiencia  -->