    <!-- Modal login -->
    <div class="modal fade" id="modalLogin" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content contet-modal-login">
                <div class="modal-header">
                    <h1 class="modal-titlel-login" id="exampleModalLabel">Iniciar sesión</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="form">
                        <input type="text" required>
                        <label class="lbl-nombre">
                            <span class="text-nomb">Usuario</span>
                        </label>
                    </form>
                    <form class="form">
                        <input type="password" required>
                        <label class="lbl-password">
                            <span class="text-pass">Contraseña</span>
                        </label>
                    </form>
                </div>
                <div class="modal-footer-login">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                    <button type="button" class="btn btn-primary">Ingresar</button>
                </div>
            </div>
        </div>
    </div>
    <!--fin Modal login -->