 <!-- seccion heater/menu -->
 <header>
    <div class="usuario">
        <img src="https://drive.google.com/file/d/1pWjnJ6mk-xNr89ciMBzEpzFEUr25nC2U/view?usp=share_link" alt="">
        <h3 class="nombre">Hernan Flores</h3>
        <p class="post">Full Stack <br> Developer Jr</p>

        <button type="button" class="btn btn-primary btn-editar-perfil-head" data-bs-toggle="modal"
            data-bs-target="#modalHead">
            <i class="fa-solid fa-pencil"></i>
        </button>

    </div>

    <nav class="navbar text-center">
        <ul>
            <li><a href="#inicio">Portada</a></li>
            <li><a href="#sobre_mi">Sobre mí</a></li>
            <li><a href="#experiencias">Experiencias</a></li>
            <li><a href="#educacion">Educación</a></li>
            <li><a href="#habilidades">Habilidades</a></li>
            <li><a href="#proyectos">Proyectos</a></li>

        </ul>
    </nav>
    <div class="logo-argProg ">
        <img src="../../../assets/img/logo-argProg.png" alt="">

        <div class="botnes-login">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btm-login" data-bs-toggle="modal"
                data-bs-target="#modalLogin">
                <i class="fa-solid fa-user"></i> Entrar
            </button>
            <button type="button" class="btn btn-primary btm-logout" data-bs-toggle="modal"
                data-bs-target="#logout">
                <i class="fa-solid fa-user-slash"></i> Salir
            </button>

        </div>
    </div>

</header>
<!-- fin seccion header/menu -->


<!-- agregar el selector del componente login aqui -->