/*-------------------seccion portada / banner -------------------*/
.inicio{
   /*  background: linear-gradient(to top, rgba(0, 0, 0, 0.297), rgba(0, 0, 0, 0.621)),
    url("/assets/img/fondo-portada.jpg"); */
   
    height: 100vh;
    color: rgb(243, 231, 231);
    display: flex;
    align-items: center;
    z-index: 5;

    animation: movimiento 19s infinite linear alternate; /*movimiento vertical en foto*/
    background-size: 150%;
}
 @keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
 }


.inicio .contenido-banner{
    padding: 20px;
    background-color: #0d0f10;
    max-width: 350px;
    height: 150rem;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    background: rgba(3, 3, 3, 0.6);  /* transparente blureado */
    backdrop-filter: blur(8px);
    box-shadow: 10px 0 10px rgba(9, 9, 9, 50%);
}
.inicio .contenido-banner img{
    margin-top: 20px;
    border: 5px solid #924a2d;
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 50%;
    box-shadow: 3px 0 7px  #605d62; /*sombra*/

}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: rgb(247, 243, 243);
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(228, 211, 211);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;

    z-index: 100;  /*-------------*/
}

.inicio .contenido-banner .redes a:hover{
    background-color: #624f4c;
    transform: scale(1.2);
}

/* bootones */
.btn{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.479);
    box-shadow: 5px 2px 1px 2px rgba(0, 0, 255, .2);
    width: 30rem;
    font-size:10px;
    margin-top: 3rem;
}
.btn:hover{
    background-color: #a47ed598;
 }

.btn-editar-portada{
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.479);
    box-shadow: 5px 2px 1px 2px rgba(0, 0, 255, .2);
    width: 8rem;
    height: 8rem;
    color: #fff;
    position: absolute;
    top: 30px;
    margin-left: 40rem; 

}
.contenedor-btn-edit-borrar-red{
    width: 42px;
    height: 42px;
    position: absolute;
    right: px;
    display: flex;
}

.btn-borrar-red{
    width: 7rem;
    height: 7rem;
    position: absolute;
    margin-left: 9rem;
    top: -80px;
    right: -5px;
}

.btn-editar-red{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: -80px;
    
}