/*-------------------seccion portada / banner -------------------*/
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.1), rgba(30,35,38,1)),
    url("https://drive.google.com/file/d/1b56FJAh6QXhwOiE3XYZSUIqUlvZDNMsF/view?usp=share_link");
    background-size: cover;
    height: 100vh;
    color: rgb(243, 231, 231);
    display: flex;
    align-items: center;

    animation: movimiento 19s infinite linear alternate; /*movimiento vertical en foto*/
    background-size: 150%;
}
 @keyframes movimiento{
    from{
        background-position: bottom left;
    }to{
        background-position: top right;
    }
 }


.inicio .contenido-banner{
    padding: 20px;
    background-color: #0d0f10;
    max-width: 350px;
    height: 150rem;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    background: rgba(3, 3, 3, 0.6);  /* transparente blureado */
    backdrop-filter: blur(8px);
    box-shadow: 10px 0 10px rgba(9, 9, 9, 50%);
}
.inicio .contenido-banner img{
    margin-top: 20px;
    border: 5px solid #924a2d;
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 50%;
    box-shadow: 3px 0 7px  #605d62; /*sombra*/

}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: rgb(247, 243, 243);
    display: inline-block;
    text-decoration: none;
    border: 1px solid rgb(228, 211, 211);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;

    z-index: 100;  /*-------------*/
}

.inicio .contenido-banner .redes a:hover{
    background-color: #624f4c;
    transform: scale(1.2);
}
