<!--inicio seccion banner/portada miPorfolio.backPortada -->
<section id="inicio" class="inicio" [ngStyle]="{'background-image': 'linear-gradient(to top, rgba(30,35,38,.1), rgba(30,35,38,1)),url('+miPorfolio.backPortada+')'}"  >
    <div class="contenido-banner">
        <div class="contenedor-img">
            <img [src]="miPorfolio.imgPerfilPortada" alt="" style="margin-top: 5rem;">
        </div>
        <h1>{{miPorfolio.name}}</h1>
        <h2>{{miPorfolio.position}}</h2>

        <app-redes></app-redes>

        <button type="button" class="btn btn-primary btn-editar-portada" data-bs-toggle="modal"
            data-bs-target="#modalPortada">
            <i class="fa-solid fa-pencil"></i>
        </button>
    </div>

</section>
<!-- fin seccion banner -->

<!-- agregar el selector del los modales aqui -->
<app-info-portada></app-info-portada>
<app-enviar-mail></app-enviar-mail>
<app-nueva-red-social></app-nueva-red-social>
<app-editar-red-social></app-editar-red-social> 