<!--inicio seccion banner/portada  -->
<section id="inicio" class="inicio">
    <div class="contenido-banner">
        <div class="contenedor-img">
            <img src="/assets/img/perfil_portada.jpg" alt="" style="margin-top: 5rem;">
        </div>
        <h1>Hernan Flores</h1>
        <h2>Developer</h2>
        <div class="redes">
            <a href="#">
                <i class="fa-brands fa-facebook-f"></i>
                <div class="contenedor-btn-edit-borrar-red">
                    <button type="button" class="btn btn-primary btn-editar-red" data-bs-toggle="modal"
                        data-bs-target="#modalEditarRed">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-red" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>


            </a>
            <a href="#">
                <i class="fa-brands fa-github"></i>
                <div class="contenedor-btn-edit-borrar-red">
                    <button type="button" class="btn btn-primary btn-editar-red" data-bs-toggle="modal"
                        data-bs-target="#modalEditarRed">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-red" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </a>
            <a href="#">
                <i class="fa-solid fa-envelope"></i>
                <div class="contenedor-btn-edit-borrar-red">
                    <button type="button" class="btn btn-primary btn-editar-red" data-bs-toggle="modal"
                        data-bs-target="#modalEditarRed">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-red" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </a>
            <a href="#">
                <i class="fa-brands fa-linkedin-in"></i>
                <div class="contenedor-btn-edit-borrar-red">
                    <button type="button" class="btn btn-primary btn-editar-red" data-bs-toggle="modal"
                        data-bs-target="#modalEditarRed">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-borrar-red" data-bs-toggle="modal">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>
            </a>
            <a data-bs-toggle="modal" data-bs-target="#modalNuevaRed"><i class="fa-solid fa-plus"></i></a>


        </div>
        <button type="button" class="btn btn-primary btn-editar-portada" data-bs-toggle="modal"
            data-bs-target="#modalPortada">
            <i class="fa-solid fa-pencil"></i>
        </button>
    </div>

</section>
<!-- fin seccion banner -->

<!-- agregar el selector del los modales aqui -->
<app-info-portada></app-info-portada>
<app-nueva-red-social></app-nueva-red-social>
<app-editar-red-social></app-editar-red-social>