<app-menu></app-menu>
<app-login></app-login>
<app-edit-info-perfil-m></app-edit-info-perfil-m>

<app-portada></app-portada>
<app-info-portada></app-info-portada>
<app-nueva-red-social></app-nueva-red-social>
<app-editar-red-social></app-editar-red-social>

<app-sobre-mi></app-sobre-mi>
<app-editar-sobremi></app-editar-sobremi>

<app-experiencias></app-experiencias>
<app-nueva-experiencia></app-nueva-experiencia>

<app-educacion></app-educacion>
<app-habilidades></app-habilidades>
<app-proyectos></app-proyectos>