  <!-- seccion heater  -->
  <header>
    <div class="usuario">
        <img src="/assets/img/foto perfil.jpg" alt="">
        <h3 class="nombre">Hernan Flores</h3>
        <p class="post">Full Stack <br> Developer Jr</p>

        <button type="button" class="btn btn-primary btn-editar-perfil-head" data-bs-toggle="modal"
            data-bs-target="#modalHead">
            <i class="fa-solid fa-pencil"></i>
        </button>

    </div>

    <nav class="navbar text-center">
        <ul>
            <li><a href="#inicio">Portada</a></li>
            <li><a href="#sobre_mi">Sobre mí</a></li>
            <li><a href="#experiencias">Experiencias</a></li>
            <li><a href="#educacion">Educación</a></li>
            <li><a href="#habilidades">Habilidades</a></li>
            <li><a href="#proyectos">Proyectos</a></li>

        </ul>
    </nav>
    <div class="logo-argProg ">
        <img src="/assets/img/logo-argProg.png" alt="">

        <div class="botnes-login">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btm-login" data-bs-toggle="modal"
                data-bs-target="#modalLogin">
                <i class="fa-solid fa-user"></i> Entrar
            </button>
            <button type="button" class="btn btn-primary btm-logout" data-bs-toggle="modal"
                data-bs-target="#logout">
                <i class="fa-solid fa-user-slash"></i> Salir
            </button>

        </div>
    </div>

</header>
<!-- fin seccion header -->
    <!--inicio seccion banner  -->
    <section id="inicio" class="inicio">
      <div class="contenido-banner">
          <div class="contenedor-img">
              <img src="/assets/img/perfil_portada.jpg" alt="" style="margin-top: 5rem;">
          </div>
          <h1>Hernan Flores</h1>
          <h2>Developer</h2>
          <div class="redes">
              <a href="#">
                  <i class="fa-brands fa-facebook-f"></i>
                  <div class="contenedor-btn-edit-borrar-red">
                      <button type="button" class="btn btn-primary btn-editar-red" data-bs-toggle="modal"
                          data-bs-target="#modalEditarRed">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-red" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>


              </a>
              <a href="#">
                  <i class="fa-brands fa-github"></i>
                  <div class="contenedor-btn-edit-borrar-red">
                      <button type="button" class="btn btn-primary btn-editar-red" data-bs-toggle="modal"
                          data-bs-target="#modalEditarRed">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-red" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </a>
              <a href="#">
                  <i class="fa-solid fa-envelope"></i>
                  <div class="contenedor-btn-edit-borrar-red">
                      <button type="button" class="btn btn-primary btn-editar-red" data-bs-toggle="modal"
                          data-bs-target="#modalEditarRed">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-red" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </a>
              <a href="#">
                  <i class="fa-brands fa-linkedin-in"></i>
                  <div class="contenedor-btn-edit-borrar-red">
                      <button type="button" class="btn btn-primary btn-editar-red" data-bs-toggle="modal"
                          data-bs-target="#modalEditarRed">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-red" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </a>
              <a data-bs-toggle="modal" data-bs-target="#modalNuevaRed"><i class="fa-solid fa-plus"></i></a>


          </div>
          <button type="button" class="btn btn-primary btn-editar-portada" data-bs-toggle="modal"
              data-bs-target="#modalPortada">
              <i class="fa-solid fa-pencil"></i>
          </button>
      </div>

  </section>
  <!-- fin seccion banner -->

  <!-- <hr class="border border-danger border-3 opacity-60"> -->
  <!-- inicio seccion sobre mi -->
  <section id="sobre_mi" class="sobre_mi">
      <div class="contenido-sobremi">
          <div class="contenedor-img">
              <img src="/assets/img/perfil_portada.jpg" alt="">
          </div>
          <div class="contenedor-btn-edit-borrar-sobremi">
              <button type="button" class="btn btn-primary btn-editar-sobremi" data-bs-toggle="modal"
                  data-bs-target="#modalSobreMi">
                  <i class="fa-solid fa-pencil"></i>
              </button>
              <button type="button" class="btn btn-primary btn-borrar-sobremi" data-bs-toggle="modal">
                  <i class="fa-solid fa-trash"></i>
              </button>
          </div>

          <div class="descripcion">
              <h1>Hernan Flores</h1>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque sunt omnis molestiae eaque harum id
                  ab accusamus, eligendi porro reiciendis nihil tenetur totam cupiditate quas, dolore est rerum itaque
                  maiores.</p><br>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa error ad doloribus iure corrupti,
                  nostrum ipsum rem voluptas alias consectetur quis nihil molestiae possimus quas perspiciatis
                  quisquam non earum quia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                  delectus at quisquam ducimus facere exercitationem, accusamus deleniti voluptate cumque, aperiam
                  officiis. Molestias consectetur modi temporibus minima saepe. Similique, provident minus!</p>
          </div>
      </div>
  </section>
  <!-- fin seccion sobre mi -->


  <!-- <hr class="border border-danger border-3 opacity-60"> -->
  <!-- inicio seccion experiencias -->
  <section id="experiencias" class="experiencias">
      <div class="contenido-experiencias">
          <div class="contenedor-nomb-btnnuevo">
              <h1> Experiencia Laborales </h1>
              <button type="button" class="btn btn-primary btn-nueva-experiencia" data-bs-toggle="modal"
                  data-bs-target="#modalNuevaExperiencia">
                  <i class="fa-solid fa-plus"></i> Nueva Experiencia
              </button>

          </div>
          <div class="box-container-experiencias">
              <div class="box-experiencia">
                  <img src="/assets/img/ENET 2.png" alt="">
                  <h2>Monbre Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h2>
                  <h2>PuestoTecnico en electr</h2>
                  <span> 2016</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                      autem ident laborum quae, distinctio eaque temporibus!</p>

                  <div class="contenedor-btn-edit-borrar-experiencia">
                      <button type="button" class="btn btn-primary btn-editar-experiencia" data-bs-toggle="modal"
                          data-bs-target="#modalExperiencia">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-experiencia" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>
              <div class="box-experiencia">
                  <img src="/assets/img/ENET 2.png" alt="">
                  <h2>Monbre Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h2>
                  <h2>Puestoecnico en electr</h2>
                  <span> 2017</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                      autem ident laborum quae, distinctio eaque temporibus!</p>

                  <div class="contenedor-btn-edit-borrar-experiencia">
                      <button type="button" class="btn btn-primary btn-editar-experiencia" data-bs-toggle="modal"
                          data-bs-target="#modalExperiencia">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-experiencia" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>
              <div class="box-experiencia">
                  <img src="/assets/img/ENET 2.png" alt="">
                  <h2>Monbre Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h2>
                  <h2>PuestoTecnico en electr</h2>
                  <span> 2019</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                      autem ident laborum quae, distinctio eaque temporibus!</p>

                  <div class="contenedor-btn-edit-borrar-experiencia">
                      <button type="button" class="btn btn-primary btn-editar-experiencia" data-bs-toggle="modal"
                          data-bs-target="#modalExperiencia">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-experiencia" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>
              <div class="box-experiencia">
                  <img src="/assets/img/ENET 2.png" alt="">
                  <h2>Monbre Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h2>
                  <h2>PuestoTecnico en electr</h2>
                  <span> 2018</span>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                      autem ident laborum quae, distinctio eaque temporibus!</p>

                  <div class="contenedor-btn-edit-borrar-experiencia">
                      <button type="button" class="btn btn-primary btn-editar-experiencia" data-bs-toggle="modal"
                          data-bs-target="#modalExperiencia">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-experiencia" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- fin seccion experiencias -->


  <!-- <hr class="border border-danger border-3 opacity-60"> -->
  <!-- inicio seccion educacion -->
  <section id="educacion" class="educacion">
      <div class="contenido-educacion">
          <div class="contenedor-nomb-btnnuevaedu">
              <h1> Educación </h1>
              <button type="button" class="btn btn-primary btn-nueva-educacion" data-bs-toggle="modal"
                  data-bs-target="#modalNuevaEducacion">
                  <i class="fa-solid fa-plus"></i> Nueva Educacion
              </button>

          </div>
          <div class="box-container-educacion">

              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <img src="/assets/img/ENET 2.png" alt="">
                  <span>2016</span>
                  <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                  <h2>Titulo :Tecnico en Electronica</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                      autem
                      provident laborum quae, distinctio eaque temporibus!</p>
                  <div class="contenedor-btn-edit-borrar-educacion">
                      <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                          data-bs-target="#modalEducacion">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <img src="/assets/img/ENET 2.png" alt="">
                  <span>2017</span>
                  <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                  <h2>Titulo :Tecnico en Electronica</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                      autem
                      provident laborum quae, distinctio eaque temporibus!</p>
                  <div class="contenedor-btn-edit-borrar-educacion">
                      <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                          data-bs-target="#modalEducacion">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <img src="/assets/img/ENET 2.png" alt="">
                  <span>2018</span>
                  <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                  <h2>Titulo :Tecnico en Electronica</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                      autem
                      provident laborum quae, distinctio eaque temporibus!</p>
                  <div class="contenedor-btn-edit-borrar-educacion">
                      <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                          data-bs-target="#modalEducacion">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <img src="/assets/img/ENET 2.png" alt="">
                  <span>2019</span>
                  <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                  <h2>Titulo :Tecnico en Electronica</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                      autem
                      provident laborum quae, distinctio eaque temporibus!</p>
                  <div class="contenedor-btn-edit-borrar-educacion">
                      <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                          data-bs-target="#modalEducacion">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <img src="/assets/img/ENET 2.png" alt="">
                  <span>2020</span>
                  <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                  <h2>Titulo :Tecnico en Electronica</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                      autem
                      provident laborum quae, distinctio eaque temporibus!</p>
                  <div class="contenedor-btn-edit-borrar-educacion">
                      <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                          data-bs-target="#modalEducacion">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>
              <div class="box">
                  <i class="fas fa-graduation-cap"></i>
                  <img src="/assets/img/ENET 2.png" alt="">
                  <span>2021</span>
                  <h3>Escuela de Educación Técnica Nº 2 "Prof. Jesús Raúl Salazar"</h3>
                  <h2>Titulo :Tecnico en Electronica</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quos alias praesentium. Id
                      autem
                      provident laborum quae, distinctio eaque temporibus!</p>
                  <div class="contenedor-btn-edit-borrar-educacion">
                      <button type="button" class="btn btn-primary btn-editar-educacion" data-bs-toggle="modal"
                          data-bs-target="#modalEducacion">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-educacion" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>


          </div>


      </div>
  </section>
  <!-- fin seccion educacion -->



  <!-- <hr class="border border-danger border-3 opacity-60"> -->
  <!-- inicio seccion habilidades -->
  <section id="habilidades" class="habilidades">
      <div class="contenido-habilidades">
          <div class="contenedor-nomb-nuevahabilidad">
              <h2> Habilidades </h2>
              <button type="button" class="btn btn-primary btn-nueva-habilidad" data-bs-toggle="modal"
                  data-bs-target="#modalNuevoSkil">
                  <i class="fa-solid fa-plus"></i> Nuevo Skill
              </button>

          </div>
          <div class="box-container-skills">

              <div class="skills">
                  <h3>Duras</h3>
                  <div class="skill-box">
                      <h4>Html</h4>
                      <div class="pocentaje">
                          <div style="width: 15%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
                  <div class="skill-box">
                      <h4>css</h4>
                      <div class="pocentaje">
                          <div style="width: 40%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
                  <div class="skill-box">
                      <h4>java</h4>
                      <div class="pocentaje">
                          <div style="width: 50%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
                  <div class="skill-box">
                      <h4>Visual Studio Code</h4>
                      <div class="pocentaje">
                          <div style="width: 50%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
                  <div class="skill-box">
                      <h4>electricidad</h4>
                      <div class="pocentaje">
                          <div style="width: 60%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
              </div>

              <div class="skills sk_blandas">
                  <h3>Blandas</h3>
                  <div class="skill-box">
                      <h4>trabajo en equipo</h4>
                      <div class="pocentaje">
                          <div style="width: 70%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
                  <div class="skill-box">
                      <h4>escucha activa</h4>
                      <div class="pocentaje">
                          <div style="width: 80%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
                  <div class="skill-box">
                      <h4>adapto al cambio</h4>
                      <div class="pocentaje">
                          <div style="width: 100%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
                  <div class="skill-box">
                      <h4>puntualidad</h4>
                      <div class="pocentaje">
                          <div style="width: 100%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
              </div>

              <div class="skills sk-idioma">
                  <h3>Idiomas</h3>
                  <div class="skill-box">
                      <h4>español</h4>
                      <div class="pocentaje">
                          <div style="width: 100%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
                  <div class="skill-box">
                      <h4>ingles</h4>
                      <div class="pocentaje">
                          <div style="width: 50%;"></div>
                      </div>
                      <div class="contenedor-btn-edit-borrar-skill">
                          <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                              data-bs-target="#modalskill">
                              <i class="fa-solid fa-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                              <i class="fa-solid fa-trash"></i>
                          </button>
                      </div>
                  </div>
              </div>
          </div>





      </div>
  </section>
  <!-- fin seccion habilidades -->



  <!-- <hr class="border border-danger border-3 opacity-60"> -->
  <!-- inicio seccio proyectos -->
  <section id="proyectos" class="proyectos">
      <div class="contenido-proyectos">
          <div class="contenedor-nomb-btnnuevoproyecto">
              <h2> Proyectos</h2>
              <button type="button" class="btn btn-primary btn-nueva-experiencia" data-bs-toggle="modal"
                  data-bs-target="#modalNuevoProyecto">
                  <i class="fa-solid fa-plus"></i> Nuevo Proyecto
              </button>

          </div>
          <div class="box-container-card">
              <div class="card">
                  <img src="/assets/img/portafolio.PNG" class="card-img-top" alt="...">
                  <div class="contenido-card">
                      <h3>Proyecto Porfolio</h3>
                      <h4>2022</h4>
                      <p>Diseño de portafolio, creado con el fin de aprender
                          el diseño del Frontend y Bakend
                      </p>

                      <a href="#" class="btn">Ver proyecto</a>
                  </div>
                  <div class="contenedor-btn-edit-borrar-proyecto">
                      <button type="button" class="btn btn-primary btn-editar-proyecto" data-bs-toggle="modal"
                          data-bs-target="#modalProyecto">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-proyecto" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>
              <div class="card">
                  <img src="/assets/img/portafolio.PNG" class="card-img-top" alt="...">
                  <div class="contenido-card">
                      <h3>Proyecto Porfolio</h3>
                      <h4>2023</h4>
                      <p>Diseño de portafolio, creado con el fin de aprender
                          el diseño del Frontend y Bakend
                      </p>

                      <a href="#" class="btn">Ver proyecto</a>
                  </div>
                  <div class="contenedor-btn-edit-borrar-proyecto">
                      <button type="button" class="btn btn-primary btn-editar-proyecto" data-bs-toggle="modal"
                          data-bs-target="#modalProyecto">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-proyecto" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>

              <div class="card">
                  <img src="/assets/img/portafolio.PNG" class="card-img-top" alt="...">
                  <div class="contenido-card">
                      <h3>Proyecto Porfolio</h3>
                      <h4>2024</h4>
                      <p>Diseño de portafolio, creado con el fin de aprender
                          el diseño del Frontend y Bakend
                      </p>

                      <a href="#" class="btn">Ver proyecto</a>
                  </div>
                  <div class="contenedor-btn-edit-borrar-proyecto">
                      <button type="button" class="btn btn-primary btn-editar-proyecto" data-bs-toggle="modal"
                          data-bs-target="#modalProyecto">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-proyecto" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>

              <div class="card">
                  <img src="/assets/img/portafolio.PNG" class="card-img-top" alt="...">
                  <div class="contenido-card">
                      <h3>Proyecto Porfolio</h3>
                      <h4>2025</h4>
                      <p>Diseño de portafolio, creado con el fin de aprender
                          el diseño del Frontend y Bakend
                      </p>

                      <a href="#" class="btn">Ver proyecto</a>
                  </div>
                  <div class="contenedor-btn-edit-borrar-proyecto">
                      <button type="button" class="btn btn-primary btn-editar-proyecto" data-bs-toggle="modal"
                          data-bs-target="#modalProyecto">
                          <i class="fa-solid fa-pencil"></i>
                      </button>
                      <button type="button" class="btn btn-primary btn-borrar-proyecto" data-bs-toggle="modal">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                  </div>
              </div>

          </div>





      </div>
  </section>
  <!-- fin seccion habilidades -->