<!-- inicio seccion habilidades -->
<section id="habilidades" class="habilidades">
    <div class="contenido-habilidades">
        <div class="contenedor-nomb-nuevahabilidad">
            <h2> Habilidades </h2>
            <button type="button" class="btn btn-primary btn-nueva-habilidad" data-bs-toggle="modal"
                data-bs-target="#modalNuevoSkil">
                <i class="fa-solid fa-plus"></i> Nuevo Skill
            </button>

        </div>
        <div class="box-container-skills">

            <div class="skills">
                <h3>Duras</h3>
                <div class="skill-box">
                    <h4>Html</h4>
                    <div class="pocentaje">
                        <div style="width: 15%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="skill-box">
                    <h4>css</h4>
                    <div class="pocentaje">
                        <div style="width: 40%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="skill-box">
                    <h4>java</h4>
                    <div class="pocentaje">
                        <div style="width: 50%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="skill-box">
                    <h4>Visual Studio Code</h4>
                    <div class="pocentaje">
                        <div style="width: 50%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="skill-box">
                    <h4>electricidad</h4>
                    <div class="pocentaje">
                        <div style="width: 60%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="skills sk_blandas">
                <h3>Blandas</h3>
                <div class="skill-box">
                    <h4>trabajo en equipo</h4>
                    <div class="pocentaje">
                        <div style="width: 70%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="skill-box">
                    <h4>escucha activa</h4>
                    <div class="pocentaje">
                        <div style="width: 80%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="skill-box">
                    <h4>adapto al cambio</h4>
                    <div class="pocentaje">
                        <div style="width: 100%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="skill-box">
                    <h4>puntualidad</h4>
                    <div class="pocentaje">
                        <div style="width: 100%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="skills sk-idioma">
                <h3>Idiomas</h3>
                <div class="skill-box">
                    <h4>español</h4>
                    <div class="pocentaje">
                        <div style="width: 100%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="skill-box">
                    <h4>ingles</h4>
                    <div class="pocentaje">
                        <div style="width: 50%;"></div>
                    </div>
                    <div class="contenedor-btn-edit-borrar-skill">
                        <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                            data-bs-target="#modalskill">
                            <i class="fa-solid fa-pencil"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>





    </div>
</section>
<!-- fin seccion habilidades -->