/*------------------- habilidades -------------------*/

.habilidades{
    height: 100vh;
   color: rgb(243, 231, 231);
   display: flex;
   align-items: center;
}
.habilidades .contenido-habilidades{
   padding: 20px;
   width: 90%;
   height: 80%;
   margin: auto;
   text-align: center;
   border-radius: 40px;
   background: rgba(74, 70, 70, 0.447);  /* transparente blureado */
   backdrop-filter: blur(10px);
   box-shadow: 20px 0 33px rgba(127, 119, 119, 0.5);

   overflow: auto;                /*ocultar barra scrol*/
   scrollbar-width: none;
   
}
.habilidades .contenido-habilidades::-webkit-scrollbar{
   width: 0;
}
.habilidades .contenido-habilidades .contenedor-nomb-nuevahabilidad{
    display: grid;
    place-items: center;
}
.habilidades .contenido-habilidades h2{
   font-size: 7rem;
   text-decoration: underline overline #FF3028;
   margin-bottom: 10rem;
}
.habilidades .contenido-habilidades .box-container-skills{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-center;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-right: 20rem;
    padding-left: 20rem;
}

.habilidades .contenido-habilidades .box-container-skills h3{
    font-size: 5rem;
    text-align: left;
    margin-bottom: 5rem;
    margin-top: 10rem;
    margin-left: 25rem;
 }
 /* skill */
 .habilidades .contenido-habilidades .box-container-skills .skills{
    /* left: auto; */
    margin-bottom: 5rem;
 }
 .habilidades .contenido-habilidades .box-container-skills .skills .skill-box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    left: -90px;

}
.habilidades .contenido-habilidades .box-container-skills .skills .skill-box h4{
    text-transform: uppercase;
    color: #93969b;
    /* font-weight: 100rem; */
    font-size: 3rem;
    text-align: right;
    margin-right: 3rem;


}
.habilidades .contenido-habilidades .box-container-skills .skills .skill-box .pocentaje{
    position: relative;
    width: 90rem;
    height: 10px;
    background: #b5a6a6d6;
    box-shadow: 2px 0 6px #0be58d;

}
.habilidades .contenido-habilidades .box-container-skills .skills .skill-box .pocentaje div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #0be58d;
}


/* botones */
.btn{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.479);
    box-shadow: 5px 2px 1px 2px rgba(0, 0, 255, .2);
    width: 30rem;
    font-size:10px;
    margin-top: 3rem;
 }
 .btn:hover{
    background-color: #a47ed598;
 }

.contenedor-btn-edit-borrar-skill{
    width: 8rem;
    height: 3rem;
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: column;
    /* margin-right:  -90rem;    */
}
.btn-editar-skill{
    /* border-radius: 100px; */
    background-color: rgba(0, 0, 0, 0.479);
    box-shadow: 5px 2px 1px 2px rgba(0, 0, 255, .2);
    width: 8rem;
    height: 8rem;
    color: #fff;
    position: absolute;
    top: -20px;
    left: 90px;
}
.btn-borrar-skill{
    /* border-radius: 100px; */
    background-color: rgba(0, 0, 0, 0.479);
    box-shadow: 5px 2px 1px 2px rgba(0, 0, 255, .2);
    width: 8rem;
    height: 8rem;
    color: #fff;
    position: absolute;
    margin-left: 10rem;
    top: -20px;
    left: 90px;
}
.btn-nueva-habilidad{
    margin-left: auto;
    width: 40rem;
}