<!-- inicio seccion habilidades -->
<section id="habilidades" class="habilidades">
    <div class="contenido-habilidades">
        <div class="contenedor-nomb-nuevahabilidad">
            <h2> Habilidades </h2>
            <button type="button" class="btn btn-primary btn-nueva-habilidad" data-bs-toggle="modal"
                data-bs-target="#modalNuevoSkil">
                <i class="fa-solid fa-plus"></i> Nuevo Skill
            </button>

        </div>
        <div class="box-container-skills">
            <div>
                <h3>Duras</h3>
                <div class="skills" *ngFor="let habilidadDura of habilidadDuraLista">
                    <div class="skill-box">
                        <h4>{{habilidadDura.name}}</h4>
                        <div class="pocentaje">
                            <div [style.width.%]="habilidadDura.progress" style="font-size: 3.1rem; color: black"> {{habilidadDura.progress}} %</div>
                        </div>
                        <div class="contenedor-btn-edit-borrar-skill">
                            <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                                data-bs-target="#modalskill">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
         
                   
                </div>
            </div>

            <div>
                <h3>Blandas</h3>
                <div class="skills sk_blandas" *ngFor="let habilidadBlanda of habilidadBlandasLista">
                    <div class="skill-box">
                        <h4>{{habilidadBlanda.name}}</h4>
                        <div class="pocentaje">
                            <div [style.width.%]="habilidadBlanda.progress" style="font-size: 3.1rem; color: black" >{{habilidadBlanda.progress}}%</div>
                        </div>
                        <div class="contenedor-btn-edit-borrar-skill">
                            <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                                data-bs-target="#modalskill">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                
                </div>
            </div>


            <div>
                <h3>Idiomas</h3>
                <div class="skills sk-idioma" *ngFor="let habilidadIdioma of habilidadIdiomaLista">
                    <div class="skill-box">
                        <h4>{{habilidadIdioma.name}}</h4>
                        <div class="pocentaje">
                            <div [style.width.%]="habilidadIdioma.progress" style="font-size: 3.1rem; color: black;" >{{habilidadIdioma.progress}}%</div>
                        </div>
                        <div class="contenedor-btn-edit-borrar-skill">
                            <button type="button" class="btn btn-primary btn-editar-skill" data-bs-toggle="modal"
                                data-bs-target="#modalskill">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-primary btn-borrar-skill" data-bs-toggle="modal">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>





    </div>
</section>
<!-- fin seccion habilidades -->

<!-- agregar el selector del los modales aqui -->
<app-nueva-habilidad></app-nueva-habilidad>
<app-editar-habilidad></app-editar-habilidad>