 <!-- Modal nuevhabilidad/skill-->
 <div class="modal fade" id="modalNuevoSkil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content contet-modal-skill">
            <div class="modal-header">
                <h1 class="modal-title-skill" id="exampleModalLabel">Nuevo Skill</h1>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                    <label for="input"> Tipo de Skill</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Dura</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                    <label class="form-check-label" for="inlineRadio2">Blanda</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option2">
                    <label class="form-check-label" for="inlineRadio2">Idioma</label>
                </div>

              
                <p>
                    <label for="input">Nombre Skill</label>
                    <input type="text" id="input-nombre-skill" placeholder="Skill">
                </p>
                <p>
                    <label for="input">progreso %</label>
                    <input type="text" id="input-progreso-skill" placeholder="% de Realizacion">
                </p>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Canselar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
<!-- fin modal para nueva habilidad -->